body{
    font-family: "Lucida Grande","Droid Sans","DejaVu Sans","Bitstream Vera Sans","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,Verdana,"ＭＳ Ｐゴシック","MS PGothic","VL Pゴシック","Takao Pゴシック","IPA Pゴシック",sans-serif;
    font-size: 18px;
	padding-top: 70px;
}

.jumbotron h1{
    font-size: 256%;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.jumbotron p{
    font-size: 88%;
    font-weight: normal;
}

.jumbotron > .control{
    margin-top: 4em;
}
